body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 3em 1fr;
    grid-template-areas: "header" "preview";
    font-family: ArtifaktElement;
}

#header {
    grid-area: header;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#preview {
    grid-area: preview;
    position: relative;
    overflow: hidden;
}

#header > * {
    margin: 0 0.5em;
    height: 2em;
}

#header .title {
    margin-left: 0.5em;
    margin-right: auto;
    height: auto;
    font-weight: bolder;
}
