{
    "getAccessTokenFunction": {
        "APS_CLIENT_ID": "",
        "APS_CLIENT_SECRET": ""
    },
    "getDesignsFunction": {
        "APS_CLIENT_ID": "",
        "APS_CLIENT_SECRET": ""
    },
    "createDesignFunction": {
        "APS_CLIENT_ID": "",
        "APS_CLIENT_SECRET": ""
    },
    "getDesignStatusFunction": {
        "APS_CLIENT_ID": "",
        "APS_CLIENT_SECRET": ""
    }
}